body {
	background: #000;
	color: #fff;	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

::-webkit-scrollbar {
	display: none;
}

.unselectable {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.hidden {
	display: none;
}

.disabled {
	opacity: 0.2;
}

#debug {
	z-index: 9999;
	position: relative;
	top: 10px;
	left: 10px;
}

.menu,
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgb(0,0,0);
	background: transparent\9;
	background: rgba(0,0,0,0.9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
	zoom: 1;
}

.loading-outer {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.loading-inner {
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav-toggle { 
	position: absolute; 
	top: 20px; 
	left: 20px;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
	z-index: 10000;
	
	opacity: 0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

#nav-toggle.show {
	opacity: 1;
	transition-delay: 0s;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
	transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, 
#nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: translateY(-10px) rotate(-45deg);
	top: 10px;
}

.menu {
	z-index: 9999;
}

.menu ul {
	list-style-type: none;
	margin: 40px;
}

.menu li {
	margin-bottom: 20px;
}

.menu a {
	font-size: 5em;
	text-decoration: none;
	color: #fff;
}

.menu a:hover {
	color: #c9c9c9;
}

.version {
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: right;
	z-index: 10000;
}

.shortcuts {
	position: fixed;
	bottom: 20px;
	left: 20px;
	text-align: left;
	z-index: 10000;
	margin: 0;
	padding: 0;
}

.shortcuts img,
.shortcuts span {
	display: inline-block;
	margin: 0 20px;
}

.shortcuts span {
	opacity: 0;
	
	transition: all 250ms ease-in-out;
}

.shortcuts:hover span {
	display: inline-block;
	opacity: 1;
}

.shortcuts img:first-child {
	margin-bottom: -3px;
	margin-left: 0;
}

.shortcuts strong {
	color: #c9c9c9;
	font-size: 1.2em;
}

#video-overlay,
#video-bg {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

#video-overlay {
	z-index: 9998;
}

#video-overlay video {
	position: absolute;
	bottom: 50%; 
	right: 50%;
	transform: translateX(-50%) translateY(-50%)
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
	overflow: hidden;
}

.chat-input {
	position: fixed;
	bottom: 20px;
	left: 2%;
	width: 96%;
	margin: 0 auto;
	
	z-index: 9999;
}

.chat-input input[type="text"] {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20px 0;
	text-indent: 20px;
	border: none;
	font-size: 3em;
	color: #fff;
	outline: none;
	opacity: 1;
	border-radius: 4px;
}

.chat-messages {
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: right;
	
	z-index: 9999;
}

.chat-messages span.message {
	display: block;
	margin-bottom: 10px;
}