body {
	background: #000;
	color: #fff;	
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.unselectable {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.hidden {
	display: none;
}

#debug {
	z-index: 9999;
	position: relative;
	top: 10px;
	left: 10px;
	opacity: 0.8;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgb(0,0,0);
	background: transparent\9;
	background: rgba(0,0,0,0.9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
	zoom: 1;
}

.loading-outer {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.loading-inner {
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav-toggle { 
	position: absolute; 
	top: 20px; 
	left: 20px;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
	z-index: 9999;
	
	opacity: 0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

#nav-toggle.show {
	opacity: 0.8;
	transition-delay: 0s;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, 
#nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: translateY(-10px) rotate(-45deg);
	top: 10px;
}

#video-overlay,
#video-bg {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

#video-overlay {
	z-index: 9998;
}